/* Fondo y colores principales */
body {
    background-color: #f5f0f5;
    color: #333333;
    font-family: 'Georgia', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.parkinL {
    height: 50px;
    width: auto;
}

/* Navbar */
.navbar {
    background-color: #efa79f;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar .navbar-brand img {
    height: 40px;
}

.navbar .navbar-brand span {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
}

/* Sección de Bienvenida */
header {
    background-color: #f1f1f1;
    padding: 40px 0;
}

header h1 {
    color: #e29289;
    font-size: 2.5rem;
}

header p {
    color: #555555;
    font-size: 1.25rem;
}

/* Botón principal */
.btn-primary {
    background-color: #fbcdc8;
    border-color: #fbcdc8;
    padding: 12px 25px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #e6b0a9;
    border-color: #e6b0a9;
}

/* Información del sistema */
main h2 {
    color: #e29289;
    font-size: 2rem;
    margin-bottom: 20px;
}

main p {
    color: #555555;
    font-size: 1.1rem;
}

/* Footer */
.footer {
    background-color: #464545;
    color: #ffffff;
    padding: 15px 0;
    
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}

.footer img {
    height: 20px;
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}
