
body {
    background-color: #f0eaf7;
    color: #333;
    margin: 0;
    font-family: 'Georgia', serif;
}


input[type="time"],
button {
    border-radius: 5px;
    padding: 10px;
}


.btn-primary {
    background-color: #fbcdc8;
    border-color: #fbcdc8;
    border-radius: 5px;
}
.btn-primary:hover {
    background-color: #e6b0a9;
}


footer {
    background-color: #464545;
    color: #ffffff;
}
