/* Estilo global */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+MX+Guides&display=swap');

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;


}

body {
    background-image: linear-gradient(rgba(10, 9, 9, 0.727), rgb(11, 11, 11)), url('../img/image3.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



h1 {
    color: whitesmoke;
    /* Color elegante para el encabezado */
    -webkit-text-stroke: 1px rgb(213, 190, 190);
    font-weight: bold;
    text-shadow: 7px 7px 12px rgba(139, 132, 123, 0.867);
    font-size: 8em;
    padding: 5px;
    text-align: center;
    letter-spacing: 4px;
    font-family: "Dancing Script", ;
}






main {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(213, 208, 208);
    letter-spacing: 1.5px;
    font-family: poppins;
    gap: 8px;
    text-shadow: px 2px 1px gray;
    flex: 1;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main h2 {
    font-size: 2em;
    text-transform: uppercase;
    color: rgb(213, 208, 208);
}

.inicioseccion {
    width: 200px;
    background-color: rgba(75, 70, 75, 0.669);
    padding: 10px;
    border-radius: 10px 5px;
    color: rgb(231, 224, 224);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    box-shadow: 3.5px 5px 2px rgb(62, 62, 62);
    padding-bottom: 10px;
    text-align: center;

}

main .inicioseccion:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    box-shadow: 3.5px 5px 2px rgba(128, 128, 128, 0.4);
    color: white;
}

.formulario {

    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    width: 600px;
}

.formulario input {
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.formulario label {
    color: rgb(189, 177, 177);
    font-size: 20px;
    font-weight: bold;
}

.texto {
    color: whitesmoke;
    padding: 5px;
    width: 50%;
    font-size: 15px;
}

.texto>a {
    text-decoration: none;
    color: rgb(239, 231, 218);

    font-weight: bold;
    font-size: 20px;
}

.texto>a:hover {
    color: white;
    text-decoration: double;

}

.R:hover {
    text-decoration: underline;
    font-size: 1.5em;
}

a img {
    width: 250px;
    height: 180px;
}


footer {
    font-family: "Dancing Script";
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.footer p {

    color: #ffffff;
}

.footer a {
    text-decoration: none;
    font-size: 15px;
    color: inherit;
}

.footer img {
    height: 15px;
    width: auto;
}

@media(max-width:700px) {


    h1 {
        color: transparent;
        -webkit-text-stroke: 1px rgb(213, 190, 190);
        font-weight: bold;
        text-shadow: 3px 3px 6px rgba(113, 103, 89, 0.867);
        font-size: 30px;

        text-align: center;
        letter-spacing: 1px;
        font-family: cursive;
    }


    main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: auto;
        flex: 1;
    }

    footer {
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        font-size: 14px;

    }
}