* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(10, 9, 9, 0.944), rgb(11, 11, 11)), url('../img/image.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;

}

nav {

    display: flex;
    gap: 10px;
    justify-content: end;
    padding: 0 15px 20px 0;
}

nav li {
    list-style: none;
    padding: 15px;
    color: whitesmoke;
}

nav li a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
}

.info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.titulo2 {
    font-size: 2em;
    text-transform: uppercase;
    color: rgba(213, 208, 208, 0.312);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 4px;
    -webkit-text-stroke: 1px rgb(213, 190, 190);
}

.botonn {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 250px;
}

main {
    flex: 1;
}

.agregarespacio {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    color: whitesmoke;
    font-size: 25px;
    border: 2px solid gray;
    box-shadow: 2px 2px 3px whitesmoke, -2px -2px 3px whitesmoke;
    width: 300px;
    /* margin-left: 15px; */
}


.tabla {

    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 80vw;
    border: 2px solid whitesmoke;



}

table {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid whitesmoke;
}

.table th,
tr,
th {

    color: #fff;
    text-align: center;
    padding: 25px;
    font-size: 25px;
    font-weight: 700;
    border: 2px solid whitesmoke;
}

td {
    padding: 15px;
}

.table td {
    text-align: center;
    padding: 2rem;
    font-size: 20px;
}

.table-hover tbody tr:hover {
    background-color: #fafafa;

    cursor: pointer;
}

.table .badge {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.table .badge.bg-success {
    background-color: #28a745;
}

.table .badge.bg-danger {
    background-color: #744b4f90;
}


.btn {
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 20px;
    transition: background-color 0.3s ease;
    border: none;
}

.btn-primary {
    background-color: #221b1a8f;
    color: #fff;
}

.btn-primary:hover {
    background-color: #8c5b5499;

}

.btn-secondary {
    background-color: #1b1615;
    color: #fff;
}

.btn-secondary:disabled {
    background-color: #ddd;
    color: #999;
}

.btn-editar {
    color: wheat;
    background-color: rgba(119, 136, 153, 0.245);
}

.btn-elimina {
    background-color: #8c5b5483;
    color: whitesmoke;
}

.btn-pago {
    background-color: rgba(153, 192, 193, 0.469);
}

footer {

    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
    background-color: #1f1e1e59;
}

footer p {
    margin-bottom: 0;
}



.form-control {
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 1rem;
    padding: 12px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #0f0d0db7;
    box-shadow: 0px 0px 5px rgba(197, 128, 120, 0.5);
}


.modal-content {
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: #474444;
    color: white;
    font-weight: bold;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.modal-footer .btn {
    width: 100%;
    font-size: 1.1rem;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .table {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}